# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# MFers at roots made it wayyy too capistrano deploy based:
# add dist folder to vc for now
#dist
bower_components
node_modules
npm-debug.log
