header {
	&.absolute {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 1030;

		.navbar {
			margin-bottom: 0;
		}
	}

	.navbar {
		.navbar-header {
			
		}
	}

	.navbar-brand {
		position:relative;
		padding:($navbar-padding-vertical - 16) $navbar-padding-horizontal ($navbar-padding-vertical - 12);
		width:196px;
		height: auto;
		z-index: 1;
		> img {
			display: block;
			min-width: 125px;
			height: auto;
			max-width: 100%;
		}
		> svg {
			width: 100%;
  			height: auto;
  			display: block;
			
			path {
				display: inline-block;
			}

  			&:hover path {
			    //fill: red;
			}
		}
	}

	.navbar-fixed-top {
		.navbar-brand {
			> svg {
				//width:100%;
			}
		}
	}


	.made-in-usa {
		position: relative;
		float: right;
		width:128px;
		margin-top:14px;
		padding-left: 10px;
	}
}


@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {

	.navbar {
		.navbar-brand {
			width: 80px;
  			height: 66px;
  			overflow: visible;
			> svg {
				position:absolute;
				width: 176px;
				path {
					&:first-child {
						display: none;
					}
				}
			}
		}

		.made-in-usa {
			display: none;
		}
		
	}

	// header {
	// 	.navbar-brand {
	// 		> svg {
	// 			path {
	// 				&:first-child {
	// 					display: none;
	// 				}
	// 			}
	// 		}

	// 	}
	// }

}
