
body {
	&.ptl-default {
		.main-content {
			h3 {
				color:map-get($brandColors, "green_dark");
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1.2;
			}

			h4 {
				color:map-get($brandColors, "purple");
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1.2;
			}
			p {
				color:map-get($brandColors, "gray");
				margin-bottom: 3.2rem;
			}
		}
	}
}