body {
	// hack for now
	//min-height:2000px;
}

.wrap {
	display:block;
	
	&.wrap-main {
		//margin-bottom: 60px;
	}
}


@each $colorKey, $color in $brandColors {
	.ftc-#{$colorKey} {
		color:$color;
	}
}

.copysep {
  	width: 100%;
  	margin-top: 16px;
  	margin-bottom: 16px;

  	&.sep-half {
  		width: 50%;
		margin-left:0;
		margin-right:20px;
  	}
}
.fw-thin-ultra {font-weight:100;}
.fw-thin {font-weight:300;}
.fw-normal {font-weight:400;}
.strong,
.fw-bold {font-weight:700;}
.fw-bold-ultra {font-weight:900;}

.ta-center {text-align:center;}
.ta-left {text-align:left;}
.ta-right {text-align:right;}


