/* Buttons */

@each $colorKey, $color in $brandColors {
    
    $colorLightness: lightness($color);
    $newColor: lighten($color,5%) !default;

    @if $colorLightness > 60 {
      $newColor: darken($color, 40%);
    } @else {
      $newColor: lighten($color, 56%);
    }

	&.btn-#{$colorKey} {
         @include button-variant($newColor, $color, transparent);
	}
}

.btn-xlg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size( ($padding-large-vertical+2px), ($padding-large-horizontal + 2), ($font-size-large + 2), ($line-height-large+.2), ($border-radius-large));
}