/* SECTIONS CSS */
section {
  	position: relative;
	
	@each $colorKey, $color in $brandColors {

	  &.section-style-#{$colorKey} {
	    background-color: $color;
	    .section-header {
	    	@include outputStyleForColor('color', $color, 45%);
	    }

	    .copysep {
	    	border-color:darken($color,14%);
			opacity: 0.5;
	    }

	    p {
	    	@include outputStyleForColor('color', $color, 25%);
	    	
	    }
	  }
	  
	}

	&.section-padded {
    	padding-top:3.5rem;
    	padding-bottom:3.5rem;
    }	
  
  	&.section-padded-lg {
    	padding-top:6rem;
    	padding-bottom:6rem;
  	}

  	&.section-padded-xl {
    	padding-top:9rem;
    	padding-bottom:9rem;
  	}

    &.section-padded-xxl {
      padding-top:12rem;
      padding-bottom:12rem;
    }

  	p {

  	}


  	&[data-section="sub-main-hero-one"] {
  		padding-top:12rem;
  		padding-bottom:12rem;

  		.section-header {}
  		.section-subheader {}

  	}

  	&[data-section="what-sport-do-i-play-main"] {
      border-bottom: 1px solid #E2E2E2;

      .section-header {
        margin-top:5px;
      }
  	}

  	&[data-section="kids-main"] {
  		border-bottom: 1px solid #E2E2E2;
  		
      .section-header {
      	margin-top:5px;
      }
    }

}

.section-header {
	text-transform:uppercase;
	font-weight:400;
}
.section-subheader {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 300;
  margin-bottom: 1.5rem;
}